@import "../../variables";

#projects {
  border: 1px solid $white;
  margin: 0;
}
#projects > h1 {
  color: $purple;
  font-size: 4rem;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 10vh;
}

.project-card {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: $terminal;
  border: none;
  border-radius: 1em;
  margin: 1.5em;
  display: flex;
  gap: 2em;
  padding: 1em;

  img {
    border: none;
    border-radius: 1em;
    width: 50%;
    transition: transform 2s ease;
    transform-origin: left;

    &:hover {
      transform: scaleX(2);
      cursor: e-resize;
    }
  }
}
.buttons-container {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
  padding: 0.5em;
  button {
    font-size: 1.5em;
    padding: 0.5em;
    border-radius: 0.5em;
    border: none;
    color: $white;
    transition: transform 500ms;
    cursor: pointer;
    &:hover {
      transform: translateY(-0.25em);
    }
  }
}
.project-github-link {
  background-color: $black;
}
.project-deployed-link {
  background-color: $react;
}
.project-title {
  font-size: 3em;
  color: $blue;
  margin-bottom: 0;
}
.project-description {
  margin-top: 0.5em;
  font-size: 1.5em;
  letter-spacing: 0.1em;
  color: $white;
}
.project-tech-stack {
  display: flex;
  justify-content: flex-start;
  gap: 1em;

  span {
    border: none;
    padding: 0.5em;
    border-radius: 0.2em;
    color: $white;
  }
}
.HTML {
  background-color: $html;
}
.CSS {
  background-color: $css;
}
.Javascript {
  background-color: $js;
}
.React {
  background-color: $react;
}
.Redux {
  background-color: $redux;
}

@media screen and not (min-width: 1000px) {
  .project-card {
    flex-direction: column;
    img {
      width: 100%;
      transition: none;

      &:hover {
        cursor: default;
        transform: none;
      }
    }
  }
  .project-description {
    padding: 1em;
  }
  .project-tech-stack {
    justify-content: center;
  }
}
