@import "../../variables";

#about {
  margin: 1em;
  margin-top: 10vh;
  padding: 26vh 0;
  display: flex;
  justify-content: center;
  div {
    width: 35%;
    h1 {
      font-size: 4em;
      margin-top: 0;
      margin-bottom: 0;
      color: $purple;
    }
    p {
      margin-top: 0.25em;
      font-size: 1.2em;
      letter-spacing: 0.1em;
    }
  }
  img {
    width: 25vw;
    height: 45vh;
    border-radius: 50%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    shape-outside: circle();
    margin-right: 2em;
  }
}
.yellow {
  color: $yellow;
}
