@import "../../variables";

#about {
  margin: 1em;
  width: 60%;
  padding-top: 17vh;
  padding-bottom: 17vh;
  margin-left: 18vw;
  margin-bottom: 7vh;
  div {
    h1 {
      font-size: 4em;
      margin-top: 0;
      margin-bottom: 0;
      color: $purple;
    }
    p {
      margin-top: 0.25em;
      font-size: 1.25em;
      letter-spacing: 0.1em;
    }
  }
  img {
    border-radius: 50%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    float: left;
    shape-outside: circle();
    margin-right: 2em;
  }
}
.yellow {
  color: $yellow;
}
