@import "../../variables";

#about {
  margin: 1em;
  margin-top: 10vh;
  padding: 20vh 0;
  display: flex;
  justify-content: center;
  align-items: center;
  div {
    width: 35%;
    h1 {
      font-size: 4rem;
      margin-top: 0;
      margin-bottom: 0;
      color: $purple;
    }
    p {
      margin-top: 0.25em;
      font-size: 1.2rem;
      letter-spacing: 0.1em;
    }
    a {
      display: block;
      text-decoration: none;
      color: $white;
      margin: 0 auto;
      padding: 0.5em;
      font-size: 2rem;
      background-color: $purple;
      border: none;
      border-radius: 1vw;
      cursor: pointer;
      transition: transform 500ms ease;
      width: 5.5em;
      &:hover {
        transform: translateY(-1vh);
      }
    }
  }
  img {
    border-radius: 50%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    shape-outside: circle();
    margin-right: 2em;
  }
}
.yellow {
  color: $yellow;
}

@media screen and not (min-width: 1050px) {
  #about {
    flex-direction: column;
    div {
      width: 90%;
    }
  }
}
@media screen and not(min-width : 500px) {
  #about {
    img {
      width: 50%;
    }
    div {
      h1 {
        font-size: 2rem;
      }
      p {
        font-size: 1rem;
      }
    }
  }
}
