@import "../../variables";

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 90%;
  }
}

#home {
  margin: 1em;
  border-radius: 1em;
  background-color: #d7d4d6;
  padding: 0 0.5em;
  padding-bottom: 0.5em;
}
#terminal-header {
  display: flex;
  justify-content: flex-start;
  gap: 38%;

  span {
    display: flex;
    svg {
      margin-top: 0.8em;
    }
  }
}
#buttons {
  display: flex;
  gap: 0.5em;
  align-items: center;
  button {
    border-radius: 50%;
    border: none;
    height: 1em;
  }
}
#red {
  background-color: red;
}
#yellow {
  background-color: #fcba01;
}
#green {
  background-color: #01d642;
}

#terminal-body {
  background-color: $terminal;
  color: $white;
  padding: 1em;
  height: 70vh;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h1 {
    width: 0;
    font-size: 7em;
    margin-bottom: 0.15em;
    overflow: hidden;
    letter-spacing: 0.25em;
    white-space: nowrap;
    animation: typing 3s steps(13, end) forwards;

    span {
      color: $yellow;
    }
  }

  p {
    width: 0;
    font-size: 2em;
    margin-bottom: 0.15em;
    margin-top: 0.15em;
  }
}
#welcome-msg {
  overflow: hidden;
  letter-spacing: 0.2em;
  white-space: nowrap;
  animation: typing 5s steps(30, end) forwards;
  animation-delay: 2.8s;

  span {
    color: $blue;
  }
}
#user-detail-name {
  overflow: hidden;
  letter-spacing: 0.2em;
  white-space: nowrap;
  animation: typing 5s steps(45, end) forwards;
  animation-delay: 6s;

  span {
    color: $purple;
  }
}
