$white: #f8f6f7;
$black: #000;
$purple: #a1a8ea;
$yellow: #e6d184;
$blue: #3df6f8;
$html: #e44d25;
$css: #274ce4;
$js: #feca3b;
$react: #129ecb;
$redux: #774abd;
$terminal: #5b5c7a;
$mongodb: #01694b;
$firebase: #fea20b;
$jira: #2584ff;
$node: #026f02;
$sass: #cd669b;
